<div class="row justify-content-center" style="margin-top:30px;">
  <div class="card text-center" style="width: 30rem;">
    <div class="card-header">
      <h1 class='title'>New Structure</h1>
    </div>

    <div class="card-body">
      <p class="card-text">
        <%= form_for [:admin, @structure] do |f| %>
          <%= f.label :name, class: "text-center" %>
          <%= f.text_field :name, class: "form-control" %><br>

          <%= f.label :height, class: "text-center" %>
          <select class="form-control form-control-lg"
          <%= f.collection_select :height, (1..10), :to_s, :to_s %><br>

          <%= f.label :width, class: "text-center" %>
          <select class="form-control form-control-lg"
          <%= f.collection_select :width, (1..10), :to_s, :to_s %><br>

          <%= f.label :length, class: "text-center" %>
          <select class="form-control form-control-lg"
          <%= f.collection_select :length, (10..100), :to_s, :to_s %><br>

          <h3>Set Fare</h3>

          <%= f.label 'Motorcycle', class: "text-center" %>
          <%= f.number_field :m_fare, step: 0.01, min: 0, class: 'form-control' %><br>

          <%= f.label 'Car', class: "text-center" %>
          <%= f.number_field :c_fare, step: 0.01, min: 0, class: 'form-control' %><br>

          <%= f.label 'Bus', class: "text-center" %>
          <%= f.number_field :b_fare, step: 0.01, min: 0, class: 'form-control' %><br>

          <%= f.submit 'Create Structure', class: "btn btn-primary" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
