<div class="title">
  <h1><%= @structure.name %></h1>
  <img src="http://clipart-library.com/img/1319776.gif">
</div>

<section class="details-card">
  <div class="container-fluid">
    <div class="card-content">
      <div class="card-header">
        <h2 class="card-title text-center">Number of Floors: <%= @structure.height %></h2>
        <%= form_for @structure, :url => floor_path do |f| %>
          <%= f.collection_select :height, (1..@structure.height), :to_s, :to_s %>
          <%= f.submit 'View', class: "btn btn-primary" %>
        <% end %>
      </div>

      <% if admin? %>
        <div class="card-header">
          <h3>Parking Rates:</h3>
          <h4>Motorcycle: <%= number_to_currency(@structure.m_fare) %></h4>
          <h4>Car: <%= number_to_currency(@structure.c_fare) %></h4>
          <h4>Bus: <%= number_to_currency(@structure.b_fare) %></h4>
        </div>
        <div class="card-header">
          <h3>Total Revenue: <%= number_to_currency(@structure.total_revenue) %></h3>
          <h4>Motorcycle Revenue: <%= number_to_currency(@structure.m_revenue) %></h4>
          <h4>Car Revenue: <%= number_to_currency(@structure.c_revenue) %></h4>
          <h4>Bus Revenue: <%= number_to_currency(@structure.b_revenue) %></h4>
        </div>
      <% end %>
    </div>
  </div>
</section>
